{% extends "layout.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='styles.css') }}"/>

{% endblock stylesheet %}

{% block content%}
<!-- <h1>TOP 5</h1> 
{% for images in top_5 %}
<img src="data:image/jpeg;base64,{{images.image}}" width="400px">
<h5>{{images.Likes}} {{images.image_name}}</h5>
{% endfor %} 
<h1> all photos</h1>
{% for images in gallery %}
<div>
<img src="data:image/jpeg;base64,{{images.image}}" width="400px">
<h5>{{images.image_name}} {{images.Likes}} </h5>
{% if not check_likes(images.Id) %}
<a href="{{url_for('like', image_Id=images.Id)}}" >Like</a>
{% else %}
<a href="{{url_for('unlike', image_Id=images.Id)}}" >Unlike</a>
{% endif %}
</div>
{% endfor %}  -->



<div class="d-flex flex-column align-items-center mainBox2">
    <div class="">
        <div class="gallery mainBox">
                <h1 class="fromTop">Top 5 Most liked pictures</h1>
                {% for images in top_5 %}
                <img src="data:image/jpeg;base64,{{images.image}}" width="400px">
                <h5> Picture Name - {{images.image_name}} <br>
                    Likes:<i class="fas fa-thumbs-up blue"></i>{{images.Likes}}</h5>
                {% endfor %}

        </div>
    </div>


<div class="">
    <div class="gallery mainBox">
        <h1>All photos</h1>
        {% for images in gallery %}
        <div>
        <img src="data:image/jpeg;base64,{{images.image}}" width="400px">
        <h5>Name:{{images.image_name}} {{images.Likes}} </h5>
        {% if not check_likes(images.Id) %}
        <a href="{{url_for('like', image_Id=images.Id)}}" ><button type="button" class="btn btn-primary"><i class="fas fa-thumbs-up"></i>Like</button></i></a>
        {% else %}
        <a href="{{url_for('unlike', image_Id=images.Id)}}"><button type="button" class="btn btn-danger"><i class="fa fa-thumbs-down"></i>Unlike</button></i>
        {% endif %}
        </div>
        {% endfor %} 
    </div>
  </div>
</div>
<div class="clearfix"></div>


{% endblock %}