{% extends "layout.html" %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='index.css') }}"/>
{% endblock stylesheet %}
{% block title %}Index{% endblock %}

{% block content%}
<div class="main-box">
  <h1 class="heading-logo text-center">Instaclone</h1>
  <br><br><br><br><br><br><br>
  <form action="/login" method="post">
      <table>
          <div class="user">
              <tr>
                  <td>
                      <label></label>
                      <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
                  </td>
              </tr>
          </div>
      </table>
      <table>
          <tr>
              <td class="pwd"><label for=""></label>
                  <input type="password" placeholder="Password" class="form-control" name="password">
              </td>
              
          </tr>
      </table>
      <br>
      <button class="submit" type="submit">Log in</button>
  </form>
  <br>
  <br>
  <h4>________________OR________________</h4>
  <ul>
      <br>
      <ul><a href="/forgot" class="resetpwd" >Forgot password?</a></ul>
  </ul>

</div>
<br>
<div class="signup">
  <p>Don't have an account?<a href="/register"> Sign up</a></p>
</div>

<div class="final">
    <a href="https://github.com/DjLawRee/EDIBO-Final-Project" class="button github"> <img src="/static/GitHub.png" class="img" alt=""> View on GitHub</a>
</div>
<br>
{% endblock %}
