<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">  
        {% block stylesheet %}
            <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='styles.css') }}"/>
        {% endblock stylesheet %}
 
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/70d8d6ea41.js" crossorigin="anonymous"></script>

        <title>Instaclone: {% block title %}{% endblock %}</title>
    </head>
    
<body>
    <!-- Breaks css currently -->
    <!-- {% if session.user_id %}
    <nav>
        <div class="navigation">
            <div class="logo">
            <a class="no-underline" href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            </div>
            <div class="navigation-search-container">
            <i class="fa fa-search"></i>
            <input class="search-field" type="text" placeholder="Search">
            <div class="search-container">
                <div class="search-container-box">
                <div class="search-results">
        
                </div>
                </div>
            </div>
            </div>
            <div class="navigation-icons">
            <a href="#" target ="_blank" class="navigation-link">
                <i class="far fa-compass"></i>
                
                
            </a>
            <a class="navigation-link notifica">
                <i class="far fa-heart">
                <div class="notification-bubble-wrapper">
                    <div class="notification-bubble">
                    <span class="notifications-count">99</span>
                    </div>
                </div>
                </i>
            </a>
            <a href="#" class="navigation-link">
                <i class="far fa-user-circle"></i>
            </a>
            <a href="#" id="signout" class="navigation-link">
                <i class="fas fa-sign-out-alt"></i>
            </a>
            </div>
        </div>
    </nav>
    {% endif %} -->
    {% block content %}
 
    {% endblock %}
</body>
</html>