<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Overpass+Mono" rel="stylesheet">  
        {% block stylesheet %}
            <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='styles.css') }}"/>
        {% endblock stylesheet %}
 
        
        <title>Instaclone: {% block title %}{% endblock %}</title>
    </head>
    
<body>
    <!-- Breaks css on other pages -->
    {% if session.user_id %}
    <nav>
        <div class="navigation">
            <div class="logo">
            <a class="no-underline" href="/user-home">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
            </div>
            
            <div class="navigation-search-container">
                {% if request.path == '/user-home' %}
                <form action="/upload_picture" enctype="multipart/form-data" method="POST" class="file-upload">
                    <label id="forHover" for="upload-photo">Click here to upload picture</label>
                    <input type="file" name="image" id="upload-photo"/>
                    <input type="text" name="image_name" placeholder="photo name? ">
                    <input type="submit" value="Upload Picture"/>

                {% endif %}
            </div>
            <div class="navigation-icons">
            <a href="/gallery"  class="navigation-link">
                <i class="far fa-compass"></i>
                
                
            </a>
            <!-- <a class="navigation-link notifica">
                <i class="far fa-heart">
                <div class="notification-bubble-wrapper">
                    <div class="notification-bubble">
                    <span class="notifications-count">99</span>
                    </div>
                </div>
                </i>
            </a> -->
            <!-- <a href="#" class="navigation-link">
                <i class="far fa-user-circle"></i> -->
            </a>
            <a href="/logout" id="signout" class="navigation-link"  >
                <i class="fas fa-sign-out-alt"></i>
            </a>
            </div>
        </div>
    </nav>
    {% endif %}
    {% block content %}
 
    {% endblock %}
    {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/70d8d6ea41.js" crossorigin="anonymous"></script>
</body>
</html>