@import url('http://fonts.cdnfonts.com/css/billabong');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merienda&family=Patrick+Hand&family=Style+Script&display=swap');

body {
  background-image : url('wood-background.png');
  font-family: 'Lobster', cursive;
}

/* start header */
.welcome-user{
  width:100%;
  text-align:center;
  
}
.welcome-user h1{
  color:white;
  font-family: 'Style Script', cursive;
  font-size:400%;
}

.welcome-user h3{
  color:white;
  font-family: 'Lobster', cursive;
}
.navigation {
  background-color:rgba(0, 0,0, 0.67);
  
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.0975);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 50px;
  box-sizing: border-box;
  z-index: 2;
  /* animation magic */
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
}

.shrink {
  height: 50px;
}

.navigation .logo a {
  position: relative;
  color: white;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.navigation-search-container {
  
  position: relative;
}
#forHover{
  color:white;
  transition:0.2s;
}
#forHover:hover{
  font-size:150%;
}
.user-image-container{
  width:100%;
  align-content:justify;
}
.navigation-search-container input {
  font-family: 'Lobster', cursive;
  background-color: #fafafa;
  padding: 3px 20px;
  padding-left: 25px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.0975);
  border-radius: 3px;
  font-size: 14px;
}

.navigation-search-container .fa-search {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 320px) and (max-width: 650px) {
  /* Navigation */
  .navigation {
    padding: 0 20px;
    justify-content: space-between;
  }
  .navigation-search-container {
    display: none;
  }
  .navigation-icons {
    color:white;
    display: flex;
  }
}

.navigation-icons {
  color:white;
  display: flex;
}
.navigation-icons a{
  color:white;
}

.navigation-search-container input:focus {
  outline: none;
}

.navigation-search-container input::placeholder {
  text-align: center;
}

.navigation-icons a {
  text-decoration: none;
}
.navigation-link{
  color:white;
}

.navigation-link i {
  margin-left: 30px;
  color: black;
  text-decoration: none;
  font-size: 22px;
}

.notification-bubble-wrapper {
  position: relative;
  top: -30px;
  left: 17px;
}

.notification-bubble {
  position: absolute;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  background: #ff2c74;
  color: #fff;
  text-align: center;
  font-size: 13px;
  padding: 5px 5px 3px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  display: none;
}

body { 
    padding-top: 65px; 
}

/* end header */


div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.blue {
  color: blue;
}

.fromTop {
  margin-top: 40px;
  text-align: center;
}

.mainBox {
  background-color: rgba(var(--d87,255,255,255));
  border: 1px solid rgb(221, 220, 220);
  width: 650px;
  margin-top: 30px;
  border-radius: 20px;
}

.mainBox2 {
  background-color: rgba(var(--d87,255,255,255));
  border: 1px solid rgb(221, 220, 220);
  width: 860px;
  margin-left: 460px;
}

.user-image {
  margin-top: 50px;
}

h5 {
  /* font-weight: 300; */
  margin-left: 10px;
  font-size: 1.4rem;
  font-family: 'Merienda', cursive;
}

.green {
  color: green;
}

.center {
  align-items: flex-end;
}

.right {
  float: right;
}

a {
  text-decoration: none;
  color: inherit
}

.a, .a:hover
{   text-decoration: none;
color: white;}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  
  line-height: 1.5;
}

.h1 {
  font-family: 'Roboto', sans-serif;
}

.file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

label {
  cursor: pointer;
  /* Style as you please, it will become the visible UI component. */
}

#upload-photo {
  opacity: 0;
  position: absolute;
  z-index: -1;
}